In [1]:
import pandas as pd
import numpy as np

In [2]:
#creating a series
ser=pd.Series(np.random.rand(3400))
ser

0       0.203970
1       0.639115
2       0.013733
3       0.205326
4       0.165231
          ...
3395    0.913570
3396    0.157978
3397    0.683441
3398    0.176363
3399    0.469616
Length: 3400, dtype: float64

In [3]:
#types of series
type(ser)

pandas.core.series.Series

In [4]:
ser.dtype

dtype('float64')

In [5]:
ser.index

RangeIndex(start=0, stop=3400, step=1)

In [6]:
print(ser.head(5))
print(ser.tail(5))

0    0.203970
1    0.639115
2    0.013733
3    0.205326
4    0.165231
dtype: float64
3395    0.913570
3396    0.157978
3397    0.683441
3398    0.176363
3399    0.469616
dtype: float64

In [7]:
df=pd.DataFrame(np.random.rand(500,8),index=(np.arange(500)))
#for complex dataset

In [8]:
df

,0,1,2,3,4,5,6,7
0,0.875603,0.174482,0.916466,0.962252,0.049772,0.879124,0.821297,0.211318
1,0.461741,0.536268,0.050730,0.252043,0.072840,0.971610,0.463264,0.503527
2,0.627952,0.788287,0.876771,0.802929,0.665208,0.037902,0.375350,0.172502
3,0.202508,0.609181,0.060331,0.051636,0.491108,0.761925,0.002916,0.763363
4,0.064500,0.829157,0.446436,0.904858,0.071067,0.780180,0.778554,0.578402
...,...,...,...,...,...,...,...,...
495,0.570746,0.040043,0.879813,0.669509,0.822943,0.796068,0.655728,0.199327
496,0.848900,0.805308,0.476446,0.543342,0.770590,0.996593,0.213571,0.018050
497,0.998142,0.747978,0.979771,0.759552,0.535274,0.148768,0.868080,0.031464
498,0.918064,0.922500,0.649042,0.665997,0.698952,0.509192,0.671903,0.275664
499,0.184214,0.581111,0.953988,0.771158,0.373026,0.069237,0.979257,0.023327

In [9]:
print(df.dtypes)
type(df)

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
dtype: object

pandas.core.frame.DataFrame

In [10]:
df.columns

RangeIndex(start=0, stop=8, step=1)

In [11]:
#convert the dataframe to series
df.to_numpy()

array([[0.87560254, 0.17448173, 0.91646604, ..., 0.87912434, 0.82129707,
        0.21131756],
       [0.46174124, 0.53626828, 0.05073011, ..., 0.97161014, 0.46326422,
        0.50352656],
       [0.62795222, 0.78828674, 0.87677095, ..., 0.03790191, 0.37535022,
        0.1725016 ],
       ...,
       [0.99814244, 0.74797839, 0.97977127, ..., 0.1487683 , 0.86807993,
        0.03146448],
       [0.91806401, 0.9225004 , 0.64904243, ..., 0.50919179, 0.67190313,
        0.27566434],
       [0.18421415, 0.58111076, 0.9539882 , ..., 0.06923741, 0.97925676,
        0.02332718]])

In [12]:
#creating the series file from dataframe
df.to_csv("code.csv")

In [13]:
df.head()

,0,1,2,3,4,5,6,7
0,0.875603,0.174482,0.916466,0.962252,0.049772,0.879124,0.821297,0.211318
1,0.461741,0.536268,0.050730,0.252043,0.072840,0.971610,0.463264,0.503527
2,0.627952,0.788287,0.876771,0.802929,0.665208,0.037902,0.375350,0.172502
3,0.202508,0.609181,0.060331,0.051636,0.491108,0.761925,0.002916,0.763363
4,0.064500,0.829157,0.446436,0.904858,0.071067,0.780180,0.778554,0.578402

In [14]:
df.tail()

,0,1,2,3,4,5,6,7
495,0.570746,0.040043,0.879813,0.669509,0.822943,0.796068,0.655728,0.199327
496,0.848900,0.805308,0.476446,0.543342,0.770590,0.996593,0.213571,0.018050
497,0.998142,0.747978,0.979771,0.759552,0.535274,0.148768,0.868080,0.031464
498,0.918064,0.922500,0.649042,0.665997,0.698952,0.509192,0.671903,0.275664
499,0.184214,0.581111,0.953988,0.771158,0.373026,0.069237,0.979257,0.023327

In [15]:
#lets read the csv file
new_df=pd.read_csv("code.csv")
new_df

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,0.875603,0.174482,0.916466,0.962252,0.049772,0.879124,0.821297,0.211318
1,1,0.461741,0.536268,0.050730,0.252043,0.072840,0.971610,0.463264,0.503527
2,2,0.627952,0.788287,0.876771,0.802929,0.665208,0.037902,0.375350,0.172502
3,3,0.202508,0.609181,0.060331,0.051636,0.491108,0.761925,0.002916,0.763363
4,4,0.064500,0.829157,0.446436,0.904858,0.071067,0.780180,0.778554,0.578402
...,...,...,...,...,...,...,...,...,...
495,495,0.570746,0.040043,0.879813,0.669509,0.822943,0.796068,0.655728,0.199327
496,496,0.848900,0.805308,0.476446,0.543342,0.770590,0.996593,0.213571,0.018050
497,497,0.998142,0.747978,0.979771,0.759552,0.535274,0.148768,0.868080,0.031464
498,498,0.918064,0.922500,0.649042,0.665997,0.698952,0.509192,0.671903,0.275664
499,499,0.184214,0.581111,0.953988,0.771158,0.373026,0.069237,0.979257,0.023327

In [16]:
df.describe()

,0,1,2,3,4,5,6,7
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.498501,0.517159,0.485021,0.494422,0.507789,0.494932,0.510579,0.477847
std,0.294200,0.287692,0.295122,0.297449,0.296134,0.290031,0.288047,0.294180
min,0.001428,0.001261,0.001915,0.001138,0.003676,0.002332,0.000076,0.000175
25%,0.240407,0.270663,0.228431,0.240014,0.264630,0.244247,0.261067,0.206920
50%,0.496222,0.535810,0.472073,0.485848,0.502155,0.495297,0.516951,0.473827
75%,0.749382,0.761564,0.745988,0.755480,0.772567,0.760319,0.753802,0.737042
max,0.998661,0.999502,0.999124,0.999751,0.999531,0.997725,0.996040,0.998027

In [17]:
#lets get the values at the same value
df.loc[0,2]

0.9164660375397697

In [18]:
#converting the number column to alphabet
df.columns=list("abcdefgh")

In [19]:
df

,a,b,c,d,e,f,g,h
0,0.875603,0.174482,0.916466,0.962252,0.049772,0.879124,0.821297,0.211318
1,0.461741,0.536268,0.050730,0.252043,0.072840,0.971610,0.463264,0.503527
2,0.627952,0.788287,0.876771,0.802929,0.665208,0.037902,0.375350,0.172502
3,0.202508,0.609181,0.060331,0.051636,0.491108,0.761925,0.002916,0.763363
4,0.064500,0.829157,0.446436,0.904858,0.071067,0.780180,0.778554,0.578402
...,...,...,...,...,...,...,...,...
495,0.570746,0.040043,0.879813,0.669509,0.822943,0.796068,0.655728,0.199327
496,0.848900,0.805308,0.476446,0.543342,0.770590,0.996593,0.213571,0.018050
497,0.998142,0.747978,0.979771,0.759552,0.535274,0.148768,0.868080,0.031464
498,0.918064,0.922500,0.649042,0.665997,0.698952,0.509192,0.671903,0.275664
499,0.184214,0.581111,0.953988,0.771158,0.373026,0.069237,0.979257,0.023327

In [20]:
df2=df.drop('c',axis=1)
df2

            a         b         d         e         f         g         h
0    0.875603  0.174482  0.962252  0.049772  0.879124  0.821297  0.211318
1    0.461741  0.536268  0.252043  0.072840  0.971610  0.463264  0.503527
2    0.627952  0.788287  0.802929  0.665208  0.037902  0.375350  0.172502
3    0.202508  0.609181  0.051636  0.491108  0.761925  0.002916  0.763363
4    0.064500  0.829157  0.904858  0.071067  0.780180  0.778554  0.578402
..        ...       ...       ...       ...       ...       ...       ...
495  0.570746  0.040043  0.669509  0.822943  0.796068  0.655728  0.199327
496  0.848900  0.805308  0.543342  0.770590  0.996593  0.213571  0.018050
497  0.998142  0.747978  0.759552  0.535274  0.148768  0.868080  0.031464
498  0.918064  0.922500  0.665997  0.698952  0.509192  0.671903  0.275664
499  0.184214  0.581111  0.771158  0.373026  0.069237  0.979257  0.023327

[500 rows x 7 columns]